@{
    ViewData["Title"] = "Student Home Page";
}

<div class="header-sm d-flex flex-row align-items-end justify-content-center">

</div>

<div class="d-flex flex-row align-items-start flex-wrap my-4">
    <div class="col-md-3">
        <h2>You can</h2>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Student" asp-controller="Lecturecises" asp-action="AllLecturecises">See all lecturecises in which you have been enrolled.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Student" asp-controller="Lecturecises" asp-action="CurrentYearLecturecises">
                    See all current lecturecises in which you are enrolled.
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Student" asp-controller="Assignments" asp-action="All">
                    See your assignments and grades.
                </a>
            </li>
        </ul>
    </div>
</div>
