@{
    ViewData["Title"] = "Home Page";
}

@*<img src="~/images/phys1.jpg" alt="ASP.NET" class="img-responsive" />*@

<div class="header d-flex flex-row align-items-end justify-content-center">
    <div>
        <h1 class="header">Welcome to FEasy!</h1>
        <h4> Where physics is fun and easy</h4>
        <div class="d-flex flex-row justify-content-center">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-spectra-left m-4">Register</a>
            <a class="btn btn-lg btn-light btn-spectra-mid m-4"></a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-spectra-right btn-light m-4">Login</a>
        </div>
    </div>
</div>