@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="header-sm d-flex flex-row align-items-end justify-content-center">
    @*<div>
        <h1 class="header">Welcome to FEasy!</h1>
        <h4> Where physcis is fun and easy</h4>
        <div class="d-flex flex-row justify-content-center">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-light m-4">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-light m-4">Login</a>
        </div>
    </div>*@
</div>

<div class="row my-4">
    <h2>As an Admin you can</h2>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="All">Add and Change User Roles and Ban Users</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="All">Add and Change User Roles and Ban Users</a>
            </li>
        </ul>
    </div>
</div>
