@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="header-sm d-flex flex-row align-items-end justify-content-center">

</div>

<div class="d-flex flex-row align-items-start flex-wrap my-4">
    <div class="col-md-3">
        <h2>As an Admin you can</h2>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="All">Add and Change User Roles and Ban Users</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="AllStudents">Find student information by various parameters.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Courses" asp-action="Create">Create courses.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Users" asp-action="AddStudentsToCourse">Add students to already created courses.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Courses" asp-action="All">Edit and delete courses, edit their lecturecises and add new ones.</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a asp-area="Admin" asp-controller="Lecturecises" asp-action="AllLecturecises">Edit lecturecises and add students from the current course in them.</a>
            </li>
        </ul>
    </div>

</div>
